/**
* Code that written below is belong to Zain Alwan Wima Irfani. You may
* not use, share, modify, and study without the author's permission
* (zainalwan4@gmail.com).
*/

@use '../helpers/mixin' as mix;
@use '../helpers/variables' as var;

.container-separate {
    @include mix.container(center, 5em);

    .container-inner {
        width: var.$col_10;
        margin: 0 auto;
    }
}
