/**
* Code that written below is belong to Zain Alwan Wima Irfani. You may
* not use, share, modify, and study without the author's permission
* (zainalwan4@gmail.com).
*/

@use '../helpers/mixin' as mix;
@use '../helpers/variables' as var;

h2 {
    font-family: inter;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    .container-separate & {
        margin-bottom: 3rem;
    }
}

.caption {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.notif {
    margin-bottom: 1rem;
}

form {
    li:first-child {
        label {
            margin-top: 0;
        }
    }
    
    label {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    
    input[type="text"],
    input[type="password"],
    input[type=date],
    textarea{
        border: none;
        border-bottom: 1px solid var.$black_primary;
        padding: .4em;
        width: 100%;
    }

    .info {
        color: var.$grey_3;
        @include mix.input_guide;
    }

    .error_msg {
        color: var.$red_primary;
        @include mix.input_guide;
    }

    input[name="login"],
    input[name="register"]{
        margin-bottom: 2rem;
    }

    .container & input[type="text"] {
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 8em;
    }
}

.register-direction,
.login-direction {
    font-size: .9rem;
    margin-bottom: .3rem;

    a {
        text-decoration: underline;
    }
}

form[action$="search/"] {
    li:nth-child(3) {
        display: inline-block;
        
        input {
            margin: 1em 0 2em;
        }
    }
    
    li:nth-child(4) {
        display: inline-block;
        
        a {
            margin: 1em 0 0 .5em;
        }
    }
}

p,
td {
    margin-bottom: .8rem;
    line-height: 1.2;
}

.button.create-event {
    margin-top: 0;
}

h3 {
    font-family: Inter;
    font-weight: 500;
    margin-top: 2em;
    font-size: 1.1rem;
}

.card {
    background-color: var.$grey_1;
    padding: 1em;
    margin-top: 1em;
    display: flex;
    align-items: center;

    svg {
        flex-basis: 2.5rem;
        height: 2.5rem;
        margin-right: 1em;

        path {
            fill: var.$black_primary;
        }
    }

    .text {
        width: auto;
        
        p {
            font-size: .85rem;
            margin-top: .3rem;
            color: var.$grey_4;
            margin-bottom: 0;
        }

        a {
            text-decoration: underline;
        }
    }
}

.entry {
    border-top: 1px solid var.$grey_2;
    padding: 1em 0;

    &:nth-of-type(1) {
        border: none;
    }
    
    h3 {
        font-family: Carlito;
        margin: 0;

        a {
            text-decoration: underline;
        }
    }

    p {
        color: var.$grey_4;
        font-size: .85rem;
        margin: 1em 0 0;
    }
}

.container {
    nav {
        margin-top: 2em;
        
        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 .3em;
            }

            li.active {
                color: var.$grey_4;
            }
        }
    }
}

.action {
    li {
        display: inline-block;
    }

    li:first-child {
        margin-right: .5em;
    }
}

.inline {
    display: inline-block;
    margin-right: .5em;
}

table {
    td {
        padding: .5em;
    }
}
