/**
* Code that written below is belong to Zain Alwan Wima Irfani. You may
* not use, share, modify, and study without the author's permission
* (zainalwan4@gmail.com).
*/

@use '../helpers/variables' as var;

.hero {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: var.$red_primary;
        color: white;
        font-family: Montserrat;
        font-size: 2.5rem;
        font-weight: 500;
    }
}
