/**
* Code that written below is belong to Zain Alwan Wima Irfani. You may
* not use, share, modify, and study without the author's permission
* (zainalwan4@gmail.com).
*/

@mixin container($text_align: left, $padding) {
    text-align: $text_align;
    min-height: 100vh;
    padding: $padding 0;
}

@mixin input_guide {
    font-size: .8rem;
    margin-top: .3rem;
}
