/*
   Code that written below is belong to Zain Alwan Wima Irfani. You may
   not use, share, modify, and study without the author's permission
   (zainalwan4@gmail.com).
 */

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-SemiBold.otf');
    font-weight: 500;
}

@font-face {
    font-family: Carlito;
    src: url('../fonts/carlito/Carlito-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Carlito;
    src: url('../fonts/carlito/Carlito-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/inter/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/inter/Inter-SemiBold.ttf');
    font-weight: 500;
}
