/*
   Code that written below is belong to Zain Alwan Wima Irfani. You may
   not use, share, modify, and study without the author's permission
   (zainalwan4@gmail.com).
 */

$red_primary: #d42023;
$red_secondary: #b41a1b;
$white: #fff;
$black_primary: #1b1b1b;
$grey_1: #f2f2f2;
$grey_2: #d4d4d4;
$grey_3: #7b7b7b;
$grey_4: #6f6f6f;
$grey_5: #4c4c4c;

$col_12: 100vw;
$col_11: calc((11 / 12) * 100vw);
$col_10: calc((10 / 12) * 100vw);
$col_9: calc((9 / 12) * 100vw);
$col_8: calc((8 / 12) * 100vw);
$col_7: calc((7 / 12) * 100vw);
$col_6: calc((6 / 12) * 100vw);
$col_5: calc((5 / 12) * 100vw);
$col_4: calc((4 / 12) * 100vw);
$col_3: calc((3 / 12) * 100vw);
$col_2: calc((2 / 12) * 100vw);
$col_1: calc((1 / 12) * 100vw);
